<% provide(:title, "About") %>

<h1>About</h1>

<h4>This app lets you:<br><br>
  <ul>
    <li>Create an event</li><br>
    <li>Invite guests</li><br>
    <li>See which guest have confirmed they will attend</li><br>
    <li>See whether guests have claimed any responsibilities relating to your event</li><br>
  </ul>
</h4>