<div class="center jumbotron">
  <h1>Welcome to the RSVP app!</h1> 
</div>

<h2>The RSVP App helps you organize and manage your events. Tell us when and where your event is happening, and we'll handle the rest.</h2>
<h2>Get started:</h2> 
<div class="center">
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %> 
  <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %> 
</div>
