<div class="center jumbotron">
  <h1>Welcome to the RSVP app!</h1> 
  <h3>It currently doesn't do anything...</h3>
  <%= image_tag("sadness.jpg", size: "350x250", alt: "Sad person") %>
  <h3>If you're looking for something that works in the meantime,
      might I suggest a quick google search?</h3>
  <%= link_to "Take me to Google!", "http://www.google.com", class: "btn btn-lg btn-primary" %>
</div>