<div class="col-xs-4">
  <p class="h5">
    Name: 
  </p>
  <p class="h5">
    Responsibility: 
  </p>
</div>

<div class="col-xs-4">
  <p class="h5">
  <%= guest.name %>
  </p>
  <p class="h5">
  <% if !guest.responsibility.blank? %>
      <%= guest.responsibility %>
  <% else %>
      No responsibility claimed
  <% end %>
  </p>
</div>

<div class="col-xs-4">
    <%= link_to "Edit This Guest", edit_event_guest_path(guest, event_id: guest.event), class: "btn btn-default" %>
    <%= link_to "Delete This Guest", event_guest_path(guest.event.user, event_id: guest.event), 
        method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
</div>

<br>
<br>
<br>
<br>