<h1>Invite Guests</h1>

<h3>
  To invite your guests, send them a link to 
  <%= link_to "#{new_event_guest_url(event_id: @event)}", 
      new_event_guest_path(event_id: @event) %>.
</h3>
<h3>
  Once they complete the form, we'll update their info on 
  <%= link_to "your #{@event.title} event homepage", user_event_path(@event, user_id: @user) %>.
</h3>

<p>
  We hope to offer email invites soon.
</p>